<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>聊天室</title>
<script th:src="@{websocket/sockjs-1.1.4.min.js}"></script>
<script th:src="@{websocket/stomp.js}"></script>
<script th:src="@{jquery/jquery-3.3.1.min.js}"></script>
</head>
<body>
<p>
    聊天室
</p>
<form id="chatForm">
    <textarea rows="4" cols="60" name="msg_text"></textarea>
    <input type="submit" value="发送"/>
</form>
<div id="output"></div>
<script th:inline="javascript">
$("#chatForm").submit(function(e){
	e.preventDefault();
	var msg = $("#chatForm").find('textarea[name="msg_text"]').val();
	sendSpittle(msg);
});
var sock = new SockJS("/endpointChat");//连接的endpoint的名称
var stomp = Stomp.over(sock);
stomp.connect('guest','guest',function(frame){
	//订阅/user/queue/notifications发送的消息，这里与在控制器的simpMessagingTemplate.convertAndSendToUser中定义的订阅地址保持一致。
	//这里多了个/user,并且这个/user是必须的，使用了/user才会发送消息到指定的用户。
	stomp.subscribe("/user/queue/notifications",handleNotification);
});
function handleNotification(message){
	$("#output").append("<b>Received:"+message.body+"</b><br/>");
}
function sendSpittle(text){
	stomp.send("/chat",{},text);//3
}
$("#stop").click(function(){sock.close();});
</script>
</body>
</html>